// we can add this to custom namespace, default is 'el'
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "html"
);
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #35c31e,
    ),
  ),
  $button-padding-vertical: (
    'default': 14px,
  )
  // $button-padding-horizontal: (
  //   'default': 80px,
  // )
);

//@use "element-plus/theme-chalk/src/index.scss" as *;